@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCREEN */
html {
  @apply min-h-full
}

body {
  @apply text-gray-200;
  background: #000 url("./images/space-2.jpg") no-repeat  right bottom / cover ;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Audiowide', cursive;
}

.screen {
  @apply flex justify-center items-center gap-8 py-8;
  @screen sm {
    @apply min-h-screen 
  }
}

.container {
  width: 90%;
  @screen sm {
    width: 94%;
  }
  max-width: 1280px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
p {
  @apply pt-4 shadow-sm
}

/* BUTTONS */
.btn {
  @apply bg-gray-400 hover:bg-gray-500 text-black font-bold text-lg text-center py-4 px-12 shadow-lg
}

/* SCREEN BORDER */
#border {
  --border-height: 0;
  @screen md {
    --border-height: 512px;
    transform: scale(1.3);
  }
  img {
    width: var(--border-height);
    height: var(--border-height);
  }
}
#slides {
  --img-height: 512px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  @screen md {
    @apply absolute top-0 left-0 bottom-0 flex items-center;
    img {
      width: var(--img-height);
      height: var(--img-height);
    }
  }
}