@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCREEN */
html {
  @apply min-h-full
}

body {
  @apply text-gray-200;
  background: #000 url("./images/space.jpg") no-repeat  right bottom / cover ;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hepta Slab', serif;
}

.screen {
  @apply flex justify-center items-center gap-8 py-8;
  @screen sm {
    @apply min-h-screen 
  }
}

.container {
  width: 90%;
  @screen sm {
    width: 94%;
  }
  max-width: 1080px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
p {
  @apply pt-4 shadow-sm
}

/* BUTTONS */
.btn {
  @apply bg-gray-400 hover:bg-gray-500 text-black font-bold text-lg text-center py-4 px-12 shadow-lg
}

/* SCREEN */
#screen {
  transition: margin-left .5s ease-in-out;
}
#slides {
  --img-height: 655px;
  transform: scale(.9) translateY(-4px);
  @apply absolute top-0 left-0;
  img {
    width: var(--img-height);
    height: var(--img-height);
    object-fit: none;
    object-position: center;
  }
}